@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *::after, *::before {
    box-sizing: inherit;
}

/* Globals */
body {
    font-family: "Roboto", sans-serif;
    line-height: 1.6;
    font-size: 1.6rem;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

h1,h2,h3 {
    line-height: 1.2;
    font-weight: 700;
}

a {
    text-decoration: none;
    color: #000000;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.6rem;
} 

/* Header and Navigation */
.site-name {
    margin: 5.6rem 0;
    text-align: center;
    font-size: 4rem;
} 

.site-name span {
    color: #037bc0;
}

.main-nav-container {
    border-top: 1px solid #e1e1e1;
}

.main-nav {
    padding: 2.4rem 1.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    font-size: 1.8rem;
}

@media (min-width: 768px) {
    .main-nav {
        flex-direction: row;
        justify-content: space-between;
        gap: 0;
    }
}

.hero {
    height: 550px;
    background-image: url(../img/principal.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

/* Categories */
.categories .categories-title {
    text-align: center;
    margin: 6.4rem 0;
    font-size: 3.2rem;
}

.categories-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
}

@media (min-width: 576px) {
    .categories-list {
        grid-template-columns: repeat(2 ,1fr);
    }
}

@media (min-width: 992px) {
    .categories-list {
        grid-template-columns: repeat(3 ,1fr);
    }
}

.categorie {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.categorie img {
    width: 100%;
}

.categorie a {
    width: 100%;
    text-align: center;
    display: block;
    padding: 2rem;
    font-size: 2rem;
    border-bottom-right-radius: 1.6rem;
}

.categorie a:hover {
    background-color: #037bc0;
    color: #ffffff;
}