@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

/* Globals */
body {
    font-family: "Roboto", sans-serif;
    line-height: 1.6;
    color: #000000;
}

img {
    max-width: 100%;
    height: auto;
}

h1,h2,h3 {
    line-height: 1.2;
    font-weight: 700;
}

a {
    text-decoration: none;
    color: #000000;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
} 

/* Header and Navigation */
.site-name {
    margin: 64px 0;
    text-align: center;
    font-size: 40px;
}

.site-name span {
    color: #037bc0;
}

.main-nav-container {
    border-top: 1px solid #e1e1e1;
}

@media (min-width: 768px) {
    .main-nav-container {
        background-color: #ffffff;
        position: sticky;
        top: 0;
        left: 0;
    }
}

.main-nav {
    padding: 24px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

@media (min-width: 768px) {
    .main-nav {
        flex-direction: row;
        justify-content: space-between;
        gap: 0;
    }
}

.hero {
    height: 550px;
    background-image: url(../img/principal.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

/* Categories */
.categories-title {
    text-align: center;
    margin: 64px 0;
    font-size: 32px;
}

.categories-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    place-content: center;
}

@media (min-width: 576px) {
    .categories-list {
        grid-template-columns: repeat(2 ,1fr);
    }
}

@media (min-width: 768px) {
    .categories-list {
        grid-template-columns: repeat(3 ,1fr);
    }
}

.categorie {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}