@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *::after, *::before {
    box-sizing: inherit;
}

/* Globals */
body {
    font-family: "Roboto", sans-serif;
    line-height: 1.6;
    font-size: 1.6rem;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

h1,h2,h3 {
    line-height: 1.2;
    font-weight: 700;
    margin: 0 0 4.8rem 0;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 2.4rem;
}

a {
    text-decoration: none;
    color: #000000;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.6rem;
} 

.main-content {
    padding: 5rem 1.6rem;
}

.btn {
    display: block;
    color: #fff;
    font-weight: 900;
    background-color: #608000;
    padding: 1rem;
    text-transform: uppercase;
    text-align: center;
    transition: background-color .3s ease-in-out;
}

.btn:hover {
    background-color: #506b00;
}

/* Utilities */
.text-center {
    text-align: center;
}

.mw-30 {
    max-width: 30rem;
}

@media (min-width: 576px) {
    .mw-md-30 {
        max-width: 30rem;
    }
}

/* Header and Navigation */
.site-name {
    margin-top: 4.8rem;
    text-align: center;
} 

.site-name span {
    color: #00456d;
}

.main-nav-container {
    border-top: 1px solid #e1e1e1;
}

.main-nav {
    padding: 2.4rem 1.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    font-size: 1.6rem;
}

@media (min-width: 768px) {
    .main-nav {
        flex-direction: row;
        justify-content: space-between;
        gap: 0;
    }
}

.hero {
    height: 55rem;
    background-image: url(../img/principal.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

/* Categories */
.categories .categories-title {
    margin: 6.4rem 0;
}

.categories-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.4rem;
}

@media (min-width: 576px) {
    .categories-list {
        grid-template-columns: repeat(2 ,1fr);
    }
}

@media (min-width: 992px) {
    .categories-list {
        grid-template-columns: repeat(3 ,1fr);
    }
}

.categorie {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.categorie img {
    width: 100%;
}

.categorie a {
    width: 100%;
    text-align: center;
    display: block;
    padding: 2rem;
    font-size: 2rem;
    border-bottom-right-radius: 1.6rem;
    transition: background-color .3s ease-in-out, color .3s ease-in-out;
}

.categorie a:hover {
    background-color: #00456d;
    color: #ffffff;
}

/* About Us */
.about-us {
    margin: 5rem 0 0;
    background-image: linear-gradient(to right, #00456d 50%,#00456d 100%), url(../img/nosotros.jpg);
    padding: 10rem 0;
}

@media (min-width: 768px) {
    .about-us {
        background-image: linear-gradient(to right, rgba(0,0,0,.5) 50%, #00456d 50%,#00456d 100%), url(../img/nosotros.jpg);
        background-repeat: no-repeat;
        background-size: 100%, 120rem;
        background-position: left center;
    }
}

.about-us-grid {
    display: flex;
    justify-content: center;
}

@media (min-width: 768px) {
    .about-us-grid {
        display: flex;
        justify-content: flex-end;
    }
}

.about-us-text {
    color: #ffffff;
}

@media (min-width: 768px) {
    .about-us-text {
        flex-basis: 50%;
        padding-left: 4rem;
    }
}

/* Products Listing */
.products-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.4rem;
}

@media (min-width: 576px) {
    .products-list {
        grid-template-columns: repeat(2 ,1fr);
    }
}

@media (min-width: 992px) {
    .products-list {
        grid-template-columns: repeat(6 ,1fr);
    }

    .product:nth-child(1),
    .product:nth-child(7) {
        grid-column: 1 / 7;
        display: grid;
        grid-template-columns: 3fr 1fr;
    }
    
    .product:nth-child(1) img,
    .product:nth-child(7) img {
        height: 43rem;
        object-fit: cover;
    }     

    .product:nth-child(1) .product-text,
    .product:nth-child(7) .product-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .product:nth-child(2),
    .product:nth-child(8) {
        grid-column: 1 / 4;
    }
    
    .product:nth-child(3),
    .product:nth-child(9) {
        grid-column: 4 / 7;
    }

    .product:nth-child(2) img,
    .product:nth-child(3) img,
    .product:nth-child(8) img,
    .product:nth-child(9) img {
        height: 30rem;
        object-fit: cover;
    }

    .product:nth-child(4),
    .product:nth-child(10) {
        grid-column: 1 / 3;
    }
    
    .product:nth-child(5),
    .product:nth-child(11) {
        grid-column: 3 / 5;
    }
    
    .product:nth-child(6),
    .product:nth-child(12) {
        grid-column: 5 / 7;
    }

    .product:nth-child(4) img,
    .product:nth-child(5) img,
    .product:nth-child(6) img,
    .product:nth-child(10) img,
    .product:nth-child(11) img,
    .product:nth-child(12) img {
        height: 22rem;
        object-fit: cover;
    }

}


.product {
    /* background-color: #037bc0; */
    background-color: #00456d;
}

.product img {
    width: 100%;
}

.product-text {
    text-align: center;
    padding: 3.2rem;
    color: #fff;
}

.product-text h3 {
    margin: 0;
}

.product-text p {
    margin: 1.6rem 0;
}

.product-text .price {
    font-size: 2.8rem;
    font-weight: 900;
}

/* Footer */
.site-footer {
    padding: 5rem 0;
    border-top: 1px solid #e1e1e1;
}

.site-footer h3 {
    margin: 0 0 3.2rem;
}

.site-footer .copy {
    margin-top: 5rem;
    text-align: center;
}

.site-footer-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.4rem;
}

@media (min-width: 576px) {
    .site-footer-grid {
        grid-template-columns: repeat(2 ,1fr);
    }
}

@media (min-width: 992px) {
    .site-footer-grid {
        grid-template-columns: repeat(3 ,1fr);
    }
}

.footer-menu a {
    display: block;
    margin-bottom: 1.2rem;
}

/* External pages */
.about-us-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.4rem;
}

@media (min-width: 768px) {
    .about-us-content {
        grid-template-columns: 1fr 2fr;
        align-items: center;
    }
}

.about-us-info p {
    margin: 0 0 2.4rem;
}

.about-us-info p:last-child {
    margin: 0;
}

.blog-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 4rem;
}

@media (min-width: 992px) {
    .blog-container {
        grid-template-columns: 2fr 1fr;
    }
}

.post {
    padding-bottom: 4rem;
}

.post:not(:last-child) {
    border-bottom: 2px solid #e1e1e1;
    margin-bottom: 3rem;
}

@media (min-width: 576px) {
    .metadata {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.metadata p {
    font-weight: 700;
}

.metadata span {
    color: #00456d;
}

.post-container {
    max-width: 60rem;
    margin: 0 auto;
}